<%= form_with(model: [@project, task], local: true, class: "space-y-6") do |form| %>
  
  <% if task.errors.any? %>
    <div class="form-error-box mb-4" role="alert">
      <h4 class="form-error-title"><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <ul class="form-error-list--sm">
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input", required: true %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 3, class: "form-input", required: true %>
  </div>

  <div>
    <%= form.label :priority, class: "form-label" %>
    <%= form.select :priority, Task.priorities.keys.map { |w| [w.humanize, w] }, {}, { class: "form-select" } %>
  </div>

  <% unless task.new_record? %>
    <div>
      <%= form.label :status, class: "form-label" %>
      <%= form.select :status, Task.statuses.keys.map { |w| [w.humanize, w] }, {}, { class: "form-select" } %>
    </div>
  <% end %>

  <div class="pt-2">
    <label class="form-label">Tags</label>
    <div class="form-tags-container">
      <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
        <div class="flex items-center">
          <%= b.check_box(class: "form-checkbox") %>
          <%= b.label(class: "form-checkbox-label") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-footer">
    <%= link_to "Cancel", project_path(@project), class: "form-cancel-link" %>
    <%= form.submit class: "btn-submit--green" %>
  </div>

<% end %>