<div class="page-section--narrow">
  
  <div class="task-show-nav">
    <%= link_to project_path(@project), class: "task-back-link" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="task-nav-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
      Back to Project
    <% end %>

    <%= link_to edit_project_task_path(@project, @task), class: "task-edit-link" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="task-nav-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
      </svg>
      Edit Task
    <% end %>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-1 gap-8">
    
    <div class="lg:col-span-2">
      <div class="task-show-card">
        <div class="task-show-header">
          <h1 class="task-show-title"><%= @task.title %></h1>
          
          <% status_colors = case @task.status
             when 'done' then 'bg-green-100 text-green-800'
             when 'in_progress' then 'bg-blue-100 text-blue-800'
             else 'bg-gray-100 text-gray-800'
             end %>
          <span class="badge--status <%= status_colors %>">
            <%= @task.status.humanize %>
          </span>
        </div>

        <div class="task-show-meta">
          <div class="task-show-meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="task-show-meta-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
            </svg>
            <%= link_to @project.title, project_path(@project), class: "task-show-meta-link" %>
          </div>
          <div class="task-show-meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="task-show-meta-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <%= @task.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>

        <div class="task-show-body">
          <h3 class="task-show-desc-label">Description</h3>
          <div class="task-show-desc-box">
            <% if @task.description.present? %>
              <%= simple_format @task.description %>
            <% else %>
              <em class="text-gray-400">No description provided.</em>
            <% end %>
          </div>

          <div class="task-show-footer">
            <div class="task-show-tags">
              <% @task.tags.each do |tag| %>
                <a href="<%= tag_path(tag) %>" class="task-tag-link" style="background-color: <%= tag.tag_color %>">
                  <%= tag.name %>
                </a>
              <% end %>
            </div>
            
            <div class="task-priority-group">
              Priority: <span class="task-priority-badge"><%= @task.priority %></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:col-span-1">
      <div class="task-sticky-card">
        <%= render 'shared/comments', commentable: @task %>
      </div>
    </div>

  </div>
</div>