<div class="page-section">
  <div class="show-header">
  
  <div class="show-title-group">
    <h1 class="show-title"><%= @project.title %></h1>
    <span class="badge--lg"><%= @project.status %></span>
  </div>

  <div class="show-progress-group">
    
    <div class="progress-bar-bg--lg">
       <div class="progress-bar-fill--lg" 
            style="width: <%= @project.percent_complete %>%">
       </div>
    </div>

    <div class="progress-label">
      <%= @project.percent_complete %>% Completed
    </div>

  </div>

</div>
   
     <div class="show-description-section">
      <h3 class="show-description-label">Project Description</h3>
      <div class="show-description-card">
        <p class="show-description-text" style="overflow-wrap: anywhere;">
          <%= @project.description.presence || "No description provided." %>
        </p>
      </div>
    </div>
  </div>
  <br>

  <div class="show-grid">
    
    <div class="show-main-col">
      <%= render 'task_list', project: @project, tasks: @tasks %>
      <div class="show-divider">
        <%= render 'shared/comments', commentable: @project %>
      </div>
    </div>

    <div class="show-side-col">
      <%= render 'team_list', project: @project %>
    </div>

  </div>
</div>